
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin Page</h2>

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="#">Ikelk knyga</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Visos Knygos</a>
    </li>
   
</ul>

